<div class= "container">
<%= simple_form_for restaurant do |p| %>
  <%= p.input :name %>
  <%= p.input :address %>
  <%= p.input :category, collection: Restaurant::CATEGORIES %>
  <%= p.input :phone_number %>
  <%= p.submit "submit", class: "btn btn-primary w-100" %>
<% end %>
</div>
